@mergermarket:registry=https://npm.pkg.github.com/mergermarket
//npm.pkg.github.com/:_authToken=402d2a017b3fb61b09316a4d08c37fd919eccca2
registry = https://mmrepo.jfrog.io/mmrepo/api/npm/npm-virtual
_auth = ZmFocmkuY2F2dXNvZ2x1QGFjdXJpcy5jb206QUtDcDVlMnp0TEJqZmRxa0N3Z3J3Q1phcmhEQXJwc1FCV0t1dlc0M0J3dndHTFZiSHVxS005QkRlc2gyc1d6S3N4TGttQVlzUg==
always-auth = true
